*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background:palevioletred;
}

.parent {
    background-color: #56bbd4;
    padding: 50px;

    /* width: 900px; */
    /* smaller then 900px side scrolling enable */
    margin: 0 auto;
    width: 80%;
}
/* by default values are responsive */
/* default for block level such as div,heading,paragraph has width of 100% [100% of parent] */
.child{
    background-color: #113b3e;
    color: white;
    /* width: 750px; */
    /* works fine with bigger size
    but will overflow on smaller size*/
    width: 50%;
    /* 50% of parent */


    /* height: 250px; */
    /* fix height makes issue-->don't give height */

    height: auto;
    /* now its responsive */

    padding: 2em;
    /* default 2 em=16px* 
    em->checking the size of element*/


}
